.about-container {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .about-container {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .about-container {
    text-align: center;
  }
}
