header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  padding: 3% 5% 2% 5%;
  background-color: #D87800;
}

.header-text {
  width: 66%;
}

@media screen and (max-width: 570px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 8%;
  }

  .header-text {
    width: 100%;
    text-align: center;
  }
}
