label {
  position: absolute;
  display: block;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(1px);
}

.search-bar {
  display: grid;
  grid-template-columns: 1.5rem 4fr 1fr;
  margin-bottom: 10%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.search-bar:focus-within img {
  display: none;
}

.search-bar:focus-within .search-box {
  grid-column: 1/4;
}

.search-bar:focus-within .search-box::placeholder {
  color: transparent;
}

.search-icon {
  padding: 0.5rem;
  grid-row: 1;
  grid-column: 1/2;
  z-index: 2;
}

.search-box {
  border: 0;
  padding: 0.5rem;
  grid-column: 2/4;
  grid-row: 1;
  outline: none;
}
