nav {
  width: 33%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

nav a {
	margin: 0 1%;
}

nav li {
  list-style: none;
  color: #333533;
  font-weight: bolder;
  padding: 3px;
  width: 100%;
}

nav li:hover {
  background-color: #f5cb5c;
}
