.brewButton {
  margin: 5%;
}

.timestamp {
  color: #2c3e50;
  font-size: .8em;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .brewCard {
    display: flex;
    flex-direction: column;
  }

  .brewButton {
    float: right;
  }
}
