h3 {
  word-wrap: break-word;
}

.typeTag {
  font-size: .8em;
  padding: 2%;
  border: 1px solid black;
  border-radius: 3px;
}

.brewButton {
  margin: 5%;
}

.timestamp {
  color: #2c3e50;
  font-size: .8em;
  font-style: italic;
}
