.brewery-name {
  margin-top: 5%;
}

.button-brewery {
  margin: 5%;
  float: right;
}

.timestamp {
  color: #2c3e50;
  font-size: .8em;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .card-brewery {
    display: flex;
    flex-direction: column;
  }
}
